body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1487px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3940 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3941_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1307px;
  height:1376px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3941 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:110px;
  width:1307px;
  height:1376px;
}
#u3941_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3942_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1307px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3942 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:50px;
  width:1307px;
  height:60px;
}
#u3942_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3943_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u3943 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:73px;
  width:188px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u3943_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u3943.selected {
}
#u3943_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u3944 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:50px;
  width:1px;
  height:800px;
  overflow:hidden;
}
#u3944_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:800px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u3944_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3945_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:1437px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3945 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:180px;
  height:1437px;
}
#u3945_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3946 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1487px;
  height:50px;
  overflow:hidden;
}
#u3946_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1487px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(70, 76, 91, 0.898039215686275);
  background-image:none;
}
#u3946_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3946_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1487px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(52, 152, 219, 1);
  background-image:none;
}
#u3946_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3946_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1487px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(237, 110, 77, 1);
  background-image:none;
}
#u3946_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3946_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1487px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(250, 187, 61, 1);
  background-image:none;
}
#u3946_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3946_state4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1487px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(170, 122, 179, 1);
  background-image:none;
}
#u3946_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3946_state5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1487px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(154, 208, 185, 1);
  background-image:none;
}
#u3946_state5_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3946_state6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1487px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(234, 148, 190, 1);
  background-image:none;
}
#u3946_state6_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3946_state7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1487px;
  height:50px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(193, 55, 74, 1);
  background-image:none;
}
#u3946_state7_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3947 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:48px;
  width:1366px;
  height:2px;
  overflow:hidden;
}
#u3947_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:2px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 0.2);
  background-image:none;
}
#u3947_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3948_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u3948 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:0px;
  width:184px;
  height:48px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u3948_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u3948.selected {
}
#u3948_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
#u3949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u3949 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:66px;
  width:160px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u3949_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:6px;
  width:130px;
  word-wrap:break-word;
}
#u3950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u3950 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:74px;
  width:14px;
  height:14px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u3950_img.mouseOver {
}
#u3950.mouseOver {
}
#u3950_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3951 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:109px;
  width:1291px;
  height:1px;
  overflow:hidden;
}
#u3951_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1291px;
  height:1px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u3951_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:903px;
}
#u3952 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:50px;
  width:1px;
  height:902px;
}
#u3952_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u3953 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:0px;
  width:88px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3953_img.mouseOver {
}
#u3953.mouseOver {
}
#u3953_img.selected {
}
#u3953.selected {
}
#u3953_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u3954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u3954 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:0px;
  width:88px;
  height:49px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3954_img.mouseOver {
}
#u3954.mouseOver {
}
#u3954_img.selected {
}
#u3954.selected {
}
#u3954_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u3955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u3955 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:0px;
  width:88px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3955_img.mouseOver {
}
#u3955.mouseOver {
}
#u3955_img.selected {
}
#u3955.selected {
}
#u3955_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u3956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u3956 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:0px;
  width:88px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3956_img.mouseOver {
}
#u3956.mouseOver {
}
#u3956_img.selected {
}
#u3956.selected {
}
#u3956_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u3957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1230px;
  height:1202px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 15px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 15px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 15px rgba(0, 0, 0, 0.349019607843137);
  text-align:left;
}
#u3957 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:210px;
  width:1230px;
  height:1202px;
  text-align:left;
}
#u3957_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1230px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u3958 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:160px;
  width:1230px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u3958_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:1208px;
  word-wrap:break-word;
}
#u3959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u3959 {
  border-width:0px;
  position:absolute;
  left:1324px;
  top:16px;
  width:132px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u3959_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u3960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u3960 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:0px;
  width:88px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3960_img.mouseOver {
}
#u3960.mouseOver {
}
#u3960_img.selected {
}
#u3960.selected {
}
#u3960_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u3961 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:0px;
  width:88px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3961_img.mouseOver {
}
#u3961.mouseOver {
}
#u3961_img.selected {
}
#u3961.selected {
}
#u3961_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u3962 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:301px;
  width:1px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u3962_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u3963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3963 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:260px;
  width:91px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3963_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u3964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3964 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:310px;
  width:91px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3964_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u3965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3965 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:360px;
  width:91px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3965_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u3966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3966 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:410px;
  width:88px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3966_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u3967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3967 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:460px;
  width:91px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3967_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u3968_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3968 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:510px;
  width:91px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3968_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u3969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3969 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:560px;
  width:109px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3969_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u3970 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:256px;
  width:300px;
  height:32px;
}
#u3970_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3971 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:306px;
  width:300px;
  height:32px;
}
#u3971_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3972 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:356px;
  width:300px;
  height:32px;
}
#u3972_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3973 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:406px;
  width:300px;
  height:32px;
}
#u3973_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3974 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:456px;
  width:134px;
  height:32px;
}
#u3974_input {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3975 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:460px;
  width:9px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3975_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u3976 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:456px;
  width:134px;
  height:32px;
}
#u3976_input {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3977 {
  border-width:0px;
  position:absolute;
  left:739px;
  top:456px;
  width:134px;
  height:32px;
}
#u3977_input {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3978 {
  border-width:0px;
  position:absolute;
  left:883px;
  top:460px;
  width:19px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3978_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u3979 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:456px;
  width:134px;
  height:32px;
}
#u3979_input {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3980 {
  border-width:0px;
  position:absolute;
  left:1056px;
  top:460px;
  width:19px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3980_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u3981 {
  border-width:0px;
  position:absolute;
  left:1085px;
  top:456px;
  width:134px;
  height:32px;
}
#u3981_input {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3982 {
  border-width:0px;
  position:absolute;
  left:1229px;
  top:460px;
  width:19px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3982_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u3983 {
  border-width:0px;
  position:absolute;
  left:1258px;
  top:456px;
  width:134px;
  height:32px;
}
#u3983_input {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3984_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3984 {
  border-width:0px;
  position:absolute;
  left:1402px;
  top:460px;
  width:19px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3984_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u3985 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:514px;
  width:80px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3985_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u3985_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3986 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:514px;
  width:77px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3986_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u3986_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3987 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:514px;
  width:75px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3987_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u3987_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3988_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(204, 204, 204, 1) 100%, rgba(204, 204, 204, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(204, 204, 204, 1) 100%, rgba(204, 204, 204, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(204, 204, 204, 1) 100%, rgba(204, 204, 204, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3988 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:561px;
  width:80px;
  height:23px;
}
#u3988_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u3989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3989 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:561px;
  width:127px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3989_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u3990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3990 {
  border-width:0px;
  position:absolute;
  left:739px;
  top:561px;
  width:250px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3990_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  white-space:nowrap;
}
#u3991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3991 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:610px;
  width:91px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3991_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u3992 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:606px;
  width:134px;
  height:32px;
}
#u3992_input {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3993 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:610px;
  width:19px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3993_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u3994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3994 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:660px;
  width:91px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3994_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u3995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:954px;
  height:628px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3995 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:665px;
  width:954px;
  height:628px;
}
#u3995_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3996 {
  border-width:0px;
  position:absolute;
  left:1079px;
  top:1332px;
  width:140px;
  height:40px;
  font-size:18px;
}
#u3996_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u3997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3997 {
  border-width:0px;
  position:absolute;
  left:1265px;
  top:1332px;
  width:140px;
  height:40px;
  font-size:18px;
}
#u3997_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u3998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u3998 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:147px;
  width:180px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u3998_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  background:inherit;
  background-color:rgba(50, 128, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(20, 92, 205, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u3998.selected {
}
#u3998_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u3999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u3999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:189px;
  width:180px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u3999_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u3999.mouseOver {
}
#u3999_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  background:inherit;
  background-color:rgba(50, 128, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(20, 92, 205, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u3999.selected {
}
#u3999_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u4000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u4000 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:273px;
  width:180px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u4000_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u4000.mouseOver {
}
#u4000_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  background:inherit;
  background-color:rgba(50, 128, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(20, 92, 205, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u4000.selected {
}
#u4000_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u4001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:14px;
}
#u4001 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:162px;
  width:9px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4001_img.mouseOver {
}
#u4001.mouseOver {
}
#u4001_img.selected {
}
#u4001.selected {
}
#u4001_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:14px;
}
#u4002 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:203px;
  width:9px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4002_img.mouseOver {
}
#u4002.mouseOver {
}
#u4002_img.selected {
}
#u4002.selected {
}
#u4002_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u4003 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:315px;
  width:180px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u4003_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u4003.mouseOver {
}
#u4003_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  background:inherit;
  background-color:rgba(50, 128, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(20, 92, 205, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u4003.selected {
}
#u4003_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u4004_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u4004 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:357px;
  width:180px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u4004_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u4004.mouseOver {
}
#u4004_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  background:inherit;
  background-color:rgba(50, 128, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(20, 92, 205, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u4004.selected {
}
#u4004_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u4005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:14px;
}
#u4005 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:371px;
  width:9px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4005_img.mouseOver {
}
#u4005.mouseOver {
}
#u4005_img.selected {
}
#u4005.selected {
}
#u4005_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:14px;
}
#u4006 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:288px;
  width:9px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4006_img.mouseOver {
}
#u4006.mouseOver {
}
#u4006_img.selected {
}
#u4006.selected {
}
#u4006_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4007_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u4007 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:231px;
  width:180px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u4007_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u4007.mouseOver {
}
#u4007_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  background:inherit;
  background-color:rgba(50, 128, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(20, 92, 205, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u4007.selected {
}
#u4007_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u4008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:14px;
}
#u4008 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:245px;
  width:9px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4008_img.mouseOver {
}
#u4008.mouseOver {
}
#u4008_img.selected {
}
#u4008.selected {
}
#u4008_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u4009 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:0px;
  width:88px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4009_img.mouseOver {
}
#u4009.mouseOver {
}
#u4009_img.selected {
}
#u4009.selected {
}
#u4009_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u4010_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#1ABC9C;
  text-align:left;
}
#u4010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:399px;
  width:180px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#1ABC9C;
  text-align:left;
}
#u4010_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#1ABC9C;
  text-align:left;
}
#u4010.mouseOver {
}
#u4010_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  background:inherit;
  background-color:rgba(50, 128, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(20, 92, 205, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:6px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#1ABC9C;
  text-align:left;
}
#u4010.selected {
}
#u4010_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u4011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:14px;
}
#u4011 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:413px;
  width:9px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4011_img.mouseOver {
}
#u4011.mouseOver {
}
#u4011_img.selected {
}
#u4011.selected {
}
#u4011_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u4012 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:0px;
  width:88px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
}
#u4012_img.mouseOver {
}
#u4012.mouseOver {
}
#u4012_img.selected {
}
#u4012.selected {
}
#u4012_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
