body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1455px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:50px;
  width:417px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  white-space:nowrap;
}
#u171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:144px;
  width:100px;
  height:60px;
}
#u171_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:249px;
  width:100px;
  height:60px;
}
#u172_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:204px;
  width:0px;
  height:0px;
  color:#0000FF;
}
#u173_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u173_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:32px;
  width:20px;
  height:20px;
}
#u173_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:354px;
  width:100px;
  height:60px;
}
#u174_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:354px;
  width:100px;
  height:60px;
}
#u175_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:354px;
  width:100px;
  height:60px;
}
#u176_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:354px;
  width:100px;
  height:60px;
}
#u177_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:1266px;
  top:368px;
  width:100px;
  height:60px;
}
#u178_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:309px;
  width:0px;
  height:0px;
  color:#0000FF;
}
#u179_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:35px;
}
#u179_seg1 {
  border-width:0px;
  position:absolute;
  left:-596px;
  top:27px;
  width:600px;
  height:8px;
}
#u179_seg2 {
  border-width:0px;
  position:absolute;
  left:-596px;
  top:27px;
  width:8px;
  height:18px;
}
#u179_seg3 {
  border-width:0px;
  position:absolute;
  left:-602px;
  top:32px;
  width:20px;
  height:20px;
}
#u179_text {
  border-width:0px;
  position:absolute;
  left:-338px;
  top:23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:309px;
  width:0px;
  height:0px;
  color:#0000FF;
}
#u180_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:35px;
}
#u180_seg1 {
  border-width:0px;
  position:absolute;
  left:-255px;
  top:27px;
  width:259px;
  height:8px;
}
#u180_seg2 {
  border-width:0px;
  position:absolute;
  left:-255px;
  top:27px;
  width:8px;
  height:18px;
}
#u180_seg3 {
  border-width:0px;
  position:absolute;
  left:-261px;
  top:32px;
  width:20px;
  height:20px;
}
#u180_text {
  border-width:0px;
  position:absolute;
  left:-167px;
  top:23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:309px;
  width:0px;
  height:0px;
  color:#0000FF;
}
#u181_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u181_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:32px;
  width:20px;
  height:20px;
}
#u181_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:309px;
  width:0px;
  height:0px;
  color:#0000FF;
}
#u182_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:35px;
}
#u182_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:27px;
  width:273px;
  height:8px;
}
#u182_seg2 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:27px;
  width:8px;
  height:18px;
}
#u182_seg3 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:32px;
  width:20px;
  height:20px;
}
#u182_text {
  border-width:0px;
  position:absolute;
  left:74px;
  top:23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:309px;
  width:0px;
  height:0px;
  color:#0000FF;
}
#u183_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:35px;
}
#u183_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:27px;
  width:564px;
  height:8px;
}
#u183_seg2 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:27px;
  width:8px;
  height:32px;
}
#u183_seg3 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:46px;
  width:20px;
  height:20px;
}
#u183_text {
  border-width:0px;
  position:absolute;
  left:226px;
  top:23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:450px;
  width:100px;
  height:60px;
}
#u184_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:450px;
  width:100px;
  height:60px;
}
#u185_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:414px;
  width:0px;
  height:0px;
  color:#0000FF;
}
#u186_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:40px;
}
#u186_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:23px;
  width:20px;
  height:20px;
}
#u186_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:557px;
  width:100px;
  height:60px;
}
#u187_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:557px;
  width:100px;
  height:60px;
}
#u188_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:510px;
  width:0px;
  height:0px;
  color:#0000FF;
}
#u189_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u189_seg1 {
  border-width:0px;
  position:absolute;
  left:-90px;
  top:26px;
  width:94px;
  height:8px;
}
#u189_seg2 {
  border-width:0px;
  position:absolute;
  left:-90px;
  top:26px;
  width:8px;
  height:21px;
}
#u189_seg3 {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:34px;
  width:20px;
  height:20px;
}
#u189_text {
  border-width:0px;
  position:absolute;
  left:-86px;
  top:22px;
  width:100px;
  word-wrap:break-word;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:510px;
  width:0px;
  height:0px;
  color:#0000FF;
}
#u190_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u190_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:26px;
  width:77px;
  height:8px;
}
#u190_seg2 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:26px;
  width:8px;
  height:21px;
}
#u190_seg3 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:34px;
  width:20px;
  height:20px;
}
#u190_text {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:22px;
  width:100px;
  word-wrap:break-word;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:414px;
  width:0px;
  height:0px;
  color:#0000FF;
}
#u191_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:40px;
}
#u191_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:23px;
  width:20px;
  height:20px;
}
#u191_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:424px;
  width:100px;
  height:60px;
}
#u192_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:414px;
  width:0px;
  height:0px;
  color:#0000FF;
}
#u193_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:14px;
}
#u193_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-3px;
  width:20px;
  height:20px;
}
#u193_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:557px;
  width:100px;
  height:60px;
}
#u194_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:799px;
  top:557px;
  width:100px;
  height:60px;
}
#u195_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:484px;
  width:0px;
  height:0px;
  color:#0000FF;
}
#u196_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:60px;
}
#u196_seg1 {
  border-width:0px;
  position:absolute;
  left:-93px;
  top:52px;
  width:97px;
  height:8px;
}
#u196_seg2 {
  border-width:0px;
  position:absolute;
  left:-93px;
  top:52px;
  width:8px;
  height:21px;
}
#u196_seg3 {
  border-width:0px;
  position:absolute;
  left:-99px;
  top:60px;
  width:20px;
  height:20px;
}
#u196_text {
  border-width:0px;
  position:absolute;
  left:-75px;
  top:48px;
  width:100px;
  word-wrap:break-word;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:484px;
  width:0px;
  height:0px;
  color:#0000FF;
}
#u197_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:60px;
}
#u197_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:52px;
  width:97px;
  height:8px;
}
#u197_seg2 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:52px;
  width:8px;
  height:21px;
}
#u197_seg3 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:60px;
  width:20px;
  height:20px;
}
#u197_text {
  border-width:0px;
  position:absolute;
  left:-25px;
  top:48px;
  width:100px;
  word-wrap:break-word;
}
#u198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:803px;
  width:100px;
  height:60px;
}
#u198_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:538px;
  width:100px;
  height:60px;
}
#u199_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:510px;
  width:0px;
  height:0px;
  color:#0000FF;
}
#u200_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u200_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:15px;
  width:20px;
  height:20px;
}
#u200_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:694px;
  width:100px;
  height:60px;
}
#u201_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:617px;
  width:0px;
  height:0px;
  color:#0000FF;
}
#u202_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:67px;
}
#u202_seg1 {
  border-width:0px;
  position:absolute;
  left:-73px;
  top:59px;
  width:77px;
  height:8px;
}
#u202_seg2 {
  border-width:0px;
  position:absolute;
  left:-73px;
  top:59px;
  width:8px;
  height:18px;
}
#u202_seg3 {
  border-width:0px;
  position:absolute;
  left:-79px;
  top:64px;
  width:20px;
  height:20px;
}
#u202_text {
  border-width:0px;
  position:absolute;
  left:-60px;
  top:55px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:754px;
  width:0px;
  height:0px;
  color:#0000FF;
}
#u203_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:40px;
}
#u203_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:32px;
  width:600px;
  height:8px;
}
#u203_seg2 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:32px;
  width:8px;
  height:17px;
}
#u203_seg3 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:36px;
  width:20px;
  height:20px;
}
#u203_text {
  border-width:0px;
  position:absolute;
  left:234px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:617px;
  width:0px;
  height:0px;
  color:#0000FF;
}
#u204_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:67px;
}
#u204_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:59px;
  width:94px;
  height:8px;
}
#u204_seg2 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:59px;
  width:8px;
  height:18px;
}
#u204_seg3 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:64px;
  width:20px;
  height:20px;
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:-32px;
  top:55px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:618px;
  width:100px;
  height:60px;
}
#u205_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:598px;
  width:0px;
  height:0px;
  color:#0000FF;
}
#u206_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:24px;
}
#u206_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:7px;
  width:20px;
  height:20px;
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:708px;
  width:100px;
  height:60px;
}
#u207_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:678px;
  width:0px;
  height:0px;
  color:#0000FF;
}
#u208_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u208_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:17px;
  width:20px;
  height:20px;
}
#u208_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:768px;
  width:0px;
  height:0px;
  color:#0000FF;
}
#u209_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:26px;
}
#u209_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:18px;
  width:259px;
  height:8px;
}
#u209_seg2 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:18px;
  width:8px;
  height:17px;
}
#u209_seg3 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:22px;
  width:20px;
  height:20px;
}
#u209_text {
  border-width:0px;
  position:absolute;
  left:71px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:679px;
  width:100px;
  height:60px;
}
#u210_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:617px;
  width:0px;
  height:0px;
  color:#0000FF;
}
#u211_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:47px;
}
#u211_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:39px;
  width:97px;
  height:8px;
}
#u211_seg2 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:39px;
  width:8px;
  height:23px;
}
#u211_seg3 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:49px;
  width:20px;
  height:20px;
}
#u211_text {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:35px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:849px;
  top:617px;
  width:0px;
  height:0px;
  color:#0000FF;
}
#u212_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:47px;
}
#u212_seg1 {
  border-width:0px;
  position:absolute;
  left:-93px;
  top:39px;
  width:97px;
  height:8px;
}
#u212_seg2 {
  border-width:0px;
  position:absolute;
  left:-93px;
  top:39px;
  width:8px;
  height:23px;
}
#u212_seg3 {
  border-width:0px;
  position:absolute;
  left:-99px;
  top:49px;
  width:20px;
  height:20px;
}
#u212_text {
  border-width:0px;
  position:absolute;
  left:-82px;
  top:35px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:739px;
  width:0px;
  height:0px;
  color:#0000FF;
}
#u213_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:68px;
}
#u213_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:51px;
  width:20px;
  height:20px;
}
#u213_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:450px;
  width:100px;
  height:60px;
}
#u214_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:1025px;
  top:414px;
  width:0px;
  height:0px;
  color:#0000FF;
}
#u215_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:40px;
}
#u215_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:23px;
  width:20px;
  height:20px;
}
#u215_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:565px;
  width:100px;
  height:60px;
}
#u216_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:1025px;
  top:510px;
  width:0px;
  height:0px;
  color:#0000FF;
}
#u217_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:59px;
}
#u217_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:42px;
  width:20px;
  height:20px;
}
#u217_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:679px;
  width:100px;
  height:60px;
}
#u218_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:1025px;
  top:625px;
  width:0px;
  height:0px;
  color:#0000FF;
}
#u219_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:58px;
}
#u219_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:41px;
  width:20px;
  height:20px;
}
#u219_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:1025px;
  top:739px;
  width:0px;
  height:0px;
  color:#0000FF;
}
#u220_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:55px;
}
#u220_seg1 {
  border-width:0px;
  position:absolute;
  left:-269px;
  top:47px;
  width:273px;
  height:8px;
}
#u220_seg2 {
  border-width:0px;
  position:absolute;
  left:-269px;
  top:47px;
  width:8px;
  height:17px;
}
#u220_seg3 {
  border-width:0px;
  position:absolute;
  left:-275px;
  top:51px;
  width:20px;
  height:20px;
}
#u220_text {
  border-width:0px;
  position:absolute;
  left:-164px;
  top:43px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:1266px;
  top:492px;
  width:100px;
  height:60px;
}
#u221_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:1177px;
  top:625px;
  width:100px;
  height:60px;
}
#u222_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:1355px;
  top:625px;
  width:100px;
  height:60px;
}
#u223_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:1316px;
  top:552px;
  width:0px;
  height:0px;
  color:#0000FF;
}
#u224_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:62px;
}
#u224_seg1 {
  border-width:0px;
  position:absolute;
  left:-93px;
  top:54px;
  width:97px;
  height:8px;
}
#u224_seg2 {
  border-width:0px;
  position:absolute;
  left:-93px;
  top:54px;
  width:8px;
  height:19px;
}
#u224_seg3 {
  border-width:0px;
  position:absolute;
  left:-99px;
  top:60px;
  width:20px;
  height:20px;
}
#u224_text {
  border-width:0px;
  position:absolute;
  left:-73px;
  top:50px;
  width:100px;
  word-wrap:break-word;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:1316px;
  top:552px;
  width:0px;
  height:0px;
  color:#0000FF;
}
#u225_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:62px;
}
#u225_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:54px;
  width:97px;
  height:8px;
}
#u225_seg2 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:54px;
  width:8px;
  height:19px;
}
#u225_seg3 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:60px;
  width:20px;
  height:20px;
}
#u225_text {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:50px;
  width:100px;
  word-wrap:break-word;
}
#u226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:1266px;
  top:708px;
  width:100px;
  height:60px;
}
#u226_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:1227px;
  top:685px;
  width:0px;
  height:0px;
  color:#0000FF;
}
#u227_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:15px;
}
#u227_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:7px;
  width:97px;
  height:8px;
}
#u227_seg2 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:7px;
  width:8px;
  height:16px;
}
#u227_seg3 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:10px;
  width:20px;
  height:20px;
}
#u227_text {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:1405px;
  top:685px;
  width:0px;
  height:0px;
  color:#0000FF;
}
#u228_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:15px;
}
#u228_seg1 {
  border-width:0px;
  position:absolute;
  left:-93px;
  top:7px;
  width:97px;
  height:8px;
}
#u228_seg2 {
  border-width:0px;
  position:absolute;
  left:-93px;
  top:7px;
  width:8px;
  height:16px;
}
#u228_seg3 {
  border-width:0px;
  position:absolute;
  left:-99px;
  top:10px;
  width:20px;
  height:20px;
}
#u228_text {
  border-width:0px;
  position:absolute;
  left:-95px;
  top:3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:1316px;
  top:428px;
  width:0px;
  height:0px;
  color:#0000FF;
}
#u229_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:68px;
}
#u229_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:51px;
  width:20px;
  height:20px;
}
#u229_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:1316px;
  top:768px;
  width:0px;
  height:0px;
  color:#0000FF;
}
#u230_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:26px;
}
#u230_seg1 {
  border-width:0px;
  position:absolute;
  left:-560px;
  top:18px;
  width:564px;
  height:8px;
}
#u230_seg2 {
  border-width:0px;
  position:absolute;
  left:-560px;
  top:18px;
  width:8px;
  height:17px;
}
#u230_seg3 {
  border-width:0px;
  position:absolute;
  left:-566px;
  top:22px;
  width:20px;
  height:20px;
}
#u230_text {
  border-width:0px;
  position:absolute;
  left:-324px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
